---
import * as http2 from "node:http2";
const res = await fetch(
    `${import.meta.env.PUBLIC_STRAPI_URL}/api/podcast-infos?populate=image`
);
const { data } = await res.json();

console.log(typeof !!import.meta.env.PUBLIC_STRAPI_DEV);
---
<div class="container container-grid-video container-grid-video-modification">
    <h1>Я тут</h1>
    {
        data.map(({ image }) => {
            const imageUrl = image?.url?.startsWith('http')
                ? image.url
                : import.meta.env.PUBLIC_STRAPI_URL + image.url

            return (
                    <img
                            src={imageUrl}
                            alt="Image"
                    />
            )
        })
    }
    <!--{data?.map((item:any) => {-->
    <!--    let { title, text, image } = item;-->
    <!--    let imageUrl = image?.url;-->
    <!--    if (import.meta.env.PUBLIC_STRAPI_DEV) {-->
    <!--        imageUrl = import.meta.env.PUBLIC_STRAPI_URL + imageUrl;-->
    <!--        imageUrl = imageUrl.replace('/public', '');-->
    <!--    }-->


    <!--    return (-->

    <!--            <div class="container-grid-video-card-modification container-grid-video-card ">-->
    <!--                <div-->
    <!--                        class="container-grid-video-card-top"-->
    <!--                        style={`background-image: url(${imageUrl})`}-->
    <!--                >-->
    <!--                    <button class="container-grid-video-card-top-button" type="button">-->
    <!--                        <svg class="container-grid-video-card-top-button-svg" width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">-->
    <!--                            <path d="M28.4375 0C44.1431 0 56.875 12.7319 56.875 28.4375C56.875 44.1431 44.1431 56.875 28.4375 56.875C12.7319 56.875 0 44.1431 0 28.4375C0 12.7319 12.7319 0 28.4375 0ZM24.8057 16.0537C22.2853 14.6535 19.1875 16.4762 19.1875 19.3594V37.5166C19.1877 40.3996 22.2854 42.2224 24.8057 40.8223L41.1465 31.7432C43.7395 30.3025 43.7394 26.5736 41.1465 25.1328L24.8057 16.0537Z"-->
    <!--                                  fill="white"/>-->
    <!--                        </svg>-->
    <!--                    </button>-->
    <!--                    <span class="container-grid-video-card-top-text">-->
    <!--                     2:30 min-->
    <!--                 </span>-->
    <!--                </div>-->
    <!--                <div class="container-grid-video-card-bottom">-->
    <!--                    <p class="container-grid-video-card-bottom-text-heavy">{title}</p>-->
    <!--                    <p class="container-grid-video-card-bottom-text-normal">{text}</p>-->
    <!--                    <div class="container-grid-video-card-bottom-link">-->
    <!--                        <a href="#" class="section-1-content-link">Listen Podcast-->
    <!--                            <svg width="16.5" height="16.5" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">-->
    <!--                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.75 4.25L20 4.25C20.1989 4.25 20.3897 4.32902 20.5303 4.46967C20.671 4.61032 20.75 4.80109 20.75 5V16.25C20.75 16.6642 20.4142 17 20 17C19.5858 17 19.25 16.6642 19.25 16.25V6.81066L5.53033 20.5303C5.23744 20.8232 4.76256 20.8232 4.46967 20.5303C4.17678 20.2374 4.17678 19.7626 4.46967 19.4697L18.1893 5.75L8.75 5.75C8.33579 5.75 8 5.41421 8 5C8 4.58579 8.33579 4.25 8.75 4.25Z" fill="#FFD11A"></path>-->
    <!--                            </svg>-->
    <!--                        </a>-->
    <!--                    </div>-->

    <!--                </div>-->
    <!--            </div>-->
    <!--    );-->
    <!--})}-->
</div>