---

const { id } = Astro.props;

---

<div class="simple-rating">
    <div class="simple-rating__items">
        <input id={`rating-5-${id}`} class="simple-rating__item" name={`rating-${id}`} type="radio" value="5">
        <label for={`rating-5-${id}`} class="simple-rating__label"></label>

        <input id={`rating-4-${id}`} class="simple-rating__item" name={`rating-${id}`} type="radio" value="4">
        <label for={`rating-4-${id}`} class="simple-rating__label"></label>

        <input id={`rating-3-${id}`} class="simple-rating__item" name={`rating-${id}`} type="radio" value="3">
        <label for={`rating-3-${id}`} class="simple-rating__label"></label>

        <input id={`rating-2-${id}`} class="simple-rating__item" name={`rating-${id}`} type="radio" value="2">
        <label for={`rating-2-${id}`} class="simple-rating__label"></label>

        <input id={`rating-1-${id}`} class="simple-rating__item" name={`rating-${id}`} type="radio" value="1">
        <label for={`rating-1-${id}`} class="simple-rating__label"></label>
    </div>
</div>




