---

const { rating, id } = Astro.props;
const currentRating = Number(rating);
const stars = [5, 4, 3, 2, 1];
---

<div class="simple-rating" style="pointer-events: none;">
    <div class="simple-rating__items">
        {stars.map((star) => (
                <>
                    <input
                            id={`rating-${star}-${id}`}
                            class="simple-rating__item"
                            name={`rating-${id}`}
                            type="radio"
                            value={star}
                            checked={currentRating === star}
                            disabled
                    />
                    <label for={`rating-${star}-${id}`} class="simple-rating__label"></label>
                </>
        ))}
    </div>
</div>

<style>

    .simple-rating {
        pointer-events: none;
        user-select: none;
    }
</style>